<div class="min-h-screen bg-[#E8BCB9] flex flex-col items-center justify-center p-6 sm:p-8">
<div class="text-[48px] font-bold">
  FinGestor
</div>

<div class="mt-6 sm:mt-8 w-full flex justify-center">
  <%= link_to "Ir al Login", login_path, class: "text-[20px] bg-[#AE445A] w-[150px] h-[40px] flex justify-center items-center rounded-[10px] lg:w-[200px] lg:h-[50px]", "aria-label": "Login" %>
</div>
</div>